.pkCardDetails {
    background: rgba(255, 255, 255, 0.501);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3%;
    max-width: 100%;
    margin-bottom: 3%;
}

.detailsImg {
    grid-column: 1/2;
    background: linear-gradient(to bottom, #ffd700, white, #c0c0c0);
    border-radius: 10px 0 0 10px;
    max-height: 50rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailsImg > img{
    max-width: 40%;
    filter: drop-shadow(10px 2px 5px rgba(0, 0, 0, 0.64));
}

.data{
    grid-column: 2/3;
    background: rgb(230, 230, 230);
    border-radius: 0 10px 10px 0;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    padding: 2rem;
    /* grid-template-rows: 15% 10% 75%; */
}

.pkName{
    grid-column: 2/3;
    /* grid-row: 1/2; */
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3.2rem;
}

/* .typesBox{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
} */

/* .detailsType{
    border: 5px solid black;
    text-transform: uppercase;
    min-width: 8rem;
    max-width: 8rem;
    color: white;
    border-radius: 10px;
} */

.detData{
    grid-column: 2/3;
    /* grid-row: 3/4; */
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1.6rem;
}

.stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    background: rgb(0, 170, 255);
    border-radius: 10px;
}

.statName{
    grid-column: 1/2;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: left;
    background: rgb(105, 185, 255);
    border-radius: 10px;
}

.statValue{
    grid-column: 2/3;
    color: black;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.statUnder10{
    background: rgb(184, 0, 0);
    width: 5%;
    border-radius: 10px;
}

.statUnder20{
    background: rgb(184, 0, 0);
    width: 10%;
    border-radius: 10px;
}

.statUnder30{
    background: rgb(184, 0, 0);
    width: 15%;
    border-radius: 10px;
}

.statUnder40{
    background: rgb(184, 0, 0);
    width: 20%;
    border-radius: 10px;
}

.statUnder50{
    background: rgb(184, 0, 0);
    width: 30%;
    border-radius: 10px;
}

.statUnder60{
    background: rgb(216, 83, 0);
    width: 40%;
    border-radius: 10px;
}

.statUnder70{
    background: rgb(210, 217, 0);
    width: 50%;
    border-radius: 10px;
}

.statUnder80{
    background: rgb(120, 190, 0);
    width: 60%;
    border-radius: 10px;
}

.statUnder90{
    background: rgb(61, 205, 0);
    width: 70%;
    border-radius: 10px;
}

.statUnder100{
    background: rgb(6, 176, 0);
    width: 80%;
    border-radius: 10px;
}

.statUnder150{
    background: rgb(4, 130, 0);
    width: 90%;
    border-radius: 10px;
}

.statUnder250{
    background: linear-gradient(45deg, #ffd700, white, #ffd700, white, #ffd700, white, #ffd700);
    width: 100%;
    border-radius: 10px;
}

.piplupImg{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-self: center;
    justify-self: center;
}

@media screen and (max-width: 480px) {
    .pkCardDetails{
        width: 100%;
        align-content: center;
        display: flex;
        flex-direction: column;
    }
    .detailsImg{
        width: 100%;
        border-radius: 10px 10px 0 0;
        align-content: center;
        background: transparent;
    }
    .data{
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .detData{
        display: flex;
        flex-direction: column;
    }
    .piplupImg{
        width: 50%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .pkCardDetails{
        width: 90%;
        align-content: center;
        display: flex;
        flex-direction: column;
    }
    .detailsImg{
        width: 100%;
        border-radius: 10px 10px 0 0;
        align-content: center;
        background: lightslategray;
        border: 5px solid black;
    }
    .data{
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .pkCardDetails{
        width: 90%;
        align-content: center;
        display: flex;
        flex-direction: column;
    }
    .detailsImg{
        border-radius: 10px 10px 0 0;
    }
    .data{
        width: 95%;
        border-radius: 0 0 10px 10px;
    }
  }